:root {
  --primary: #fff;
  --black: #2d3436;
  --blue: #1e3799;
  --gray: #778ca3;
  --gold: #fa983a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
}

body {
  background: var(--black);
}

.product-card {
  width: 400px;
  background: var(--primary);
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}